.brushBox {
	border: 2px solid black;
	height: 300px;
	width: 300px;
}
/*.squaresBox {
	
	margin: 2px;
	height: 600px;
	width: 600px;
	display: flex;
	flex-wrap: wrap;
	border: 2px solid black;

}*/

body {
	margin: 2px;
	height: 600px;
	width: 600px;
	display: flex;
	flex-wrap: wrap;
	border-style: none;
}